@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url("background.jpg") no-repeat center / cover;
    background-size: cover;

}

.container {
    position: relative;
    min-height: 100vh;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    backdrop-filter: blur(30px);
    transform: scale(1);
    animation: none;
}

@keyframes zoom-in{
    100%{
        transform: scale(1);
    }
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    background: rgb(181, 180, 180);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.animated {
    transform: none !important;
    opacity: 1 !important;
    animation: none !important;
}

@keyframes slide-in {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.logo {
    font-size: 25px;
    color: rgb(88, 88, 88);
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: rgb(88, 88, 88);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    border-color: white;
}

.home {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    padding-top: 120px;
    color: rgb(88, 88, 88);;
    animation-delay: 1.5s;
}

.home-detail h1{
    font-size: 55px;
    line-height: 1;
}

.home-detail h2{
    font-size: 32px;
}

.home-detail p {
    margin: 10px 0 20px;
}

.home-detail .download-social {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: white;
    border: 2px solid white;
    border-radius: 40px;
    box-shadow: 0 0 10px white;
    color: gray;
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
}

.btn:hover{
    background: transparent;
    box-shadow: none;
    color: white;
}

.home-detail .social-icons {
    margin-left: 20px;
}

.home-detail .social-icons a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 0 8px;
}

.home-detail .social-icons a:hover {
    background: white;
    box-shadow: 0 0 10px white;
    color: grey;
}

.home-img .img-box {
    position: relative;
    width: 28vw;
    height: 28vw;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 20px white;
    overflow: hidden;
}

.home-img .img-box img {
    position: absolute;
    top: 30px;
    display: block;
    width: 100%;
}

section {
    padding: 60px 5%;
    color: rgb(88, 88, 88);;
}

section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.about p,
.contact p {
    font-size: 18px;
    line-height: 1.6;
}

.skills ul {
    list-style: disc;
    padding-left: 20px;
    font-size: 18px;
}

.skills ul ul {
    list-style: circle;
    padding-left: 20px;
}

.projects .project-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, .2);
}

.project h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.project h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    margin-bottom: 15px;
}

.contact a {
    color: rgb(88, 88, 88);;
    text-decoration: underline;
}

.contact a:hover {
    color: grey;
}
